.user__info-edit-button {
  width: 22px;
  cursor: pointer;
  background-color: black;
  margin-bottom: -10px;
  padding: 0;
  line-height: 0;
  border: none;
  /*outline: none;*/
}
.user__info-edit-button:hover {
  opacity: 0.6;
  /* transition: 2s ease; */
}
/* .user__info-edit-button:active {
} */

@media (max-width: 901px) {
  .user__info-edit-button {
    width: 18px;
    height: 18px;
    margin: 5px 0 0 0;
    padding: 0;
  }
}
