.username {
    font-weight: 500;
    font-size: 43px;
    margin: auto 0;
    padding-top: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline;
}
@media (max-width: 1152px) {
    .username {
        font-size: 35px;
    }

}
@media (max-width: 424px) {
    .username {
        font-size: 27px;
        text-align: center;
    }

}