.cursor {
    margin: 0;
    padding: 0;
    border: 0;
    width: 22px;
    vertical-align:middle;
    display: inline-block;
}
.cursor:hover {
    transform: scale(1.2);
    transition: transform 0.4s ease-out;
}
.cursor:active {
    background: #FFFFFF;
}
@media (max-width: 758px) {
    .cursor {
        width: 6vw;
    }
}